<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="Maps">
    <ion-router-outlet name="Maps"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="Status">
    <ion-router-outlet name="Status"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home .1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Maps" href="/tabs/(Maps:Maps)">
      <ion-icon name="md-map"></ion-icon>
      <ion-label>Maps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Status" href="/tabs/(Status:Status)">
      <ion-icon name="Status"></ion-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>

</ion-tabs>
